@media only screen and (max-width: 768px) {
    nav {
        font-size: 10px;
    }

    article .center {
        font-size: 10px;
        margin: 18em;
    }

    body {
        background: url("../images/bg/food_random_bg3.gif") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #FAF3E3;
    }
}

body {
    background: url("../images/bg/food_random_bg3.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FAF3E3;
}

article .textBox,
article div a {
    width: fit-content;
    max-width: 80%;
    padding: 0.4em 1em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 2.5em;
}

article .textBox {
    margin: 0 auto;
    background-image: linear-gradient(45deg, #DC6243, #FDC043);
    color: white;
}

article .button a {
    display: block;
    margin: 0.7em auto 0;
    padding: 0.2em 1em;
    text-decoration: none;
    transition: 0.5s ease;
    background-image: linear-gradient(45deg, #FDC043, #f2deb0);
    color: #355A24;
}

article .button a:hover {
    letter-spacing: 0.1em;
}

article .center {
    margin: 18em auto 0;
    width: fit-content;
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 0.2em;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

footer audio,
footer div {
    display: inline-block;
}

footer audio {
    position: absolute;
    left: 0.3em;
    bottom: 0.3em;
    height: 1em;
    opacity: 0.3;
}

footer audio:hover {
    opacity: 1;
}